.Hero{
    
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 40px;
}

.h1{
    font-size: 35px;
    font-weight: 800;
}

.divh1{
    font-weight: 800;
    font-size: 33px;
}

.p{
    font-size: 16px;
    margin-top: 10px;
    font-weight: bold;
}
.span{
    margin-left: 10px;
    margin-right: 10px;
}
.button{
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 13px;
  padding-bottom: 13px;
  text-align: center;
  border-radius: 20px ;
  margin-top: 40px;
  border: none;
  font-weight: bold;
  background-color: #000;
  color: #fff;
  
}

.button:hover{
    background-color: yellow;
    color: #000;
   
}
.button1{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 13px;
    padding-bottom: 13px;
    text-align: center;
    border-radius: 20px ;
    margin-top: 40px;
    border: none;
    font-weight: bold;
    background-color: yellow;
   
  }

.button1:hover{
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    transition: 1s box-shadow ease-in-out;
   
}

  .h5{
    margin-right: 220px;
    margin-top: 10px;
  }